.index-body {
    background-image: url("/images/home_image.png");
    background-size: cover;
    padding: 3%;
}

.projects-body {
    background-image: url("/images/projects_image.jpg");
    background-size: cover;
    padding: 3%;
}

.writing-body {
    background-image: url("/images/writing_image.jpg");
    background-size: cover;
    padding: 3%;
}

.crosswords-body {
    background-image: url("/images/crosswords_image.jpg");
    background-size: cover;
    padding: 3%;
}

.flex-container {
    display: flex;
    gap: 1%;
    flex-flow: row wrap;
    width: 100%;
}

.left-column {
    width: 17%;
}
.right-column {
    width: 70%;
}

.heading {
    color: lavender;
}

.navbar {
    display: flex;
    flex-flow: column;
    text-align: left;
    padding: 5%;
    background-color:rgba(230, 230, 250, 1);
}

.link-to-background-image {
    text-align: left;
    padding: 5%;
    background-color:rgba(230, 230, 250, 1);
}

.navbar a, .link-to-background-image a {
    color: black;
    text-decoration: none;
}

.text-block {
    color: black;
    padding: 1%;
    background-color:rgba(230, 230, 250, 0.75);
}